.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    
}

.won {
    visibility: visible;
    margin-bottom: 10px;
}

.won p {
    margin: 0;
}

.roundContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    
}

.selected {
    text-align: center;
    width: 30%;
}

.selected.vs {
    width: 10%;
}

.roundContainer p{
    margin: 0;
}

.won {
    height: 30px;
}