body {
    background: #0d1b24;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerMain {
    background: #1d4344 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 720px;
    color: #edbf43;
    padding: 2%;
    margin-top: 100px;
    border: 5px solid aqua;
}

.header {
    font-size: 42px;
    margin: 0;
    margin-bottom: 16px;
    font-weight: bolder;
}

.header p {
    margin: 0;
}